{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pharmacy-home-slider">
  <div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
          </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="banner-wrapper">
      <div class="banner-header text-center">
        <h1>Search Doctor, Make an Appointment</h1>
        <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>
<div class="card text-center">
  <div class="card-header">
    Coming Soon
  </div>
  <div class="card-body">
    <h5 class="card-title">gestion PFE</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">...............</a>
  </div>
  <div class="card-footer text-muted">
    2 days later
  </div>
</div>

{% endblock content %}
